azureml-core
azureml-train
azureml-train-automl
azureml-dataset-runtime
azureml-telemetry
azureml-mlflow
azureml-defaults
azureml-pipeline-core
azureml-pipeline-steps
mlflow
streamlit
numpy
pandas
scikit-learn
